{% extends 'layout/layout.twig' %}

{% block content %} <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created|date('d.m.Y') }} at {{ post.created|date('H:i') }}</p>
<div style='text-align: center' class="row">
        <h1>{{ post.title }}</h1>
        <hr>
        <div class="container-fixed well well-large">{{ post.text }}</div>
        <hr>
        <div style="text-align: center" class="span3">
            <a href="{{ url('blog', {'action' : 'index'}) }}" class="btn btn-primary btn-large">
                <span class="glyphicon glyphicon-hand-left"></span> Back</a>
        </div>
</div>
{% endblock content %}